<p style="color: green"><%= notice %></p>
<% @plants.each do |plant| %>
<div class="banner" style="background-image: url('<%= plant.image_url %>')">
  <h1><%= plant.name %></h1>
</div>
<% end %>

<div>
  <%= link_to "Edit this garden", edit_garden_path(@garden) %> |
  <%= link_to "Back to gardens", gardens_path %>

  <%= button_to "Destroy this garden", @garden, method: :delete %>
</div>
